<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body style="background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%); color: black;">

    <h1 class="text-center p-5 m-5 fs-1 fw-bold">Data Dashboard</h1>

    <div class="container">
        <div class="container row">
        <div class="container col-10">
        <form class="text-center d-flex justify-content-center p-3 m-3 gap-3" style="background: rgba(255, 255, 255, 0.5);
-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(8px); border: 1px solid rgba(255, 255, 255, 0.25); border-radius: 20px; box-shadow: 5px 20px 50px #000;">
            <label class="form-label my-auto fw-bold" for="search">Search in the table:</label>
            <input class="rounded-3 w-50 text-center form-control me-2 fw-bold" id="search" type="text"
                placeholder="Search here">

        </form>
        </div>
        <div class="container col my-auto">
            <button class="btn btn-outline-dark btn-sm rounded-5" onclick="Create()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
            </svg></button>
        </div>
        </div>
        <table class="table table-striped-columns table-hover dashboard-table" style="background: rgba(255, 255, 255, 0.5);
-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(8px); border: 1px solid rgba(255, 255, 255, 0.25); box-shadow: 5px 20px 50px #000;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Master</th>
                    <th>Location</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="bsdk">
                <!-- Iterate over the list of CRUD objects and display data -->
                <tr th:each="crud : ${data}">
                    <td th:text="${crud.documentId}"></td>
                    <td>
                        Name :<span th:text="${crud.name}"></span><br>
                        ChallanNo :<span th:text="${crud.challanNo}"></span><br>
                        ItemName :<span th:text="${crud.itemName}"></span><br>
                        Quantity :<span th:text="${crud.quantity}"></span><br>
                        Price :<span th:text="${crud.price}"></span>
                    </td>
                    <td>
                        From :<span th:text="${crud.From}"></span>
                        <br>
                        <br>
                        TO :<span th:text="${crud.To}"></span>
                    </td>
                    <td  >
                       <button th:value="${crud.documentId}" onclick="update(this.value)" class="btn btn-outline-success btn-sm">
                           Edit
                       </button>
                        <button th:value="${crud.documentId}" onclick="Delete(this.value)" class="btn btn-outline-success btn-sm">
                            Delete
                        </button>
                </tr>
            </tbody>
        </table>
        <div id="noResults" class="alert alert-warning mt-3 text-center fw-bold" style="display: none;">No matching results
            found.</div>
    </div>

    <footer class="mt-auto text-black-50 text-center p-5 m-5">
        <p class="text-black display-6 fw-bold">CRM</p>
        <p class="fw-bold">Made with ❤️ by <a href="https://github.com/Ravithakurofficial/CRM"
                class="text-black text-decoration-none">Ravi</a> & <a href="https://github.com/SauRavRwT"class="text-black text-decoration-none">Saurav. </a> </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                var rowCount = 0;
                $("#bsdk tr").each(function () {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.indexOf(value) > -1) {
                        $(this).show();
                        rowCount++;
                    } else {
                        $(this).hide();
                    }
                });
                // Show a message if no results found
                if (rowCount === 0) {
                    $("#noResults").show();
                } else {
                    $("#noResults").hide();
                }
            });
        });

        function Create() {
            window.location.href = "./create.html";
        }

       function update(value) {
            window.location.href = "/edit.html?documentId=" + value;
        }

        function Delete(value){
            window.location.href = "/delete.html?documentId=" + value;
        }
    </script>


    <!--Bootstrap JS and Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>